/* IMPORT FONTS FROM GOOGLE */
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  background-color: #16889b;
  padding: 1em;
  color: white;
}

.logo {
  margin: 0px;
  font-family: "Rye", cursive;
  font-size: 3em;
  color: white;
  text-shadow: 0px 3px 3px rgb(0, 0, 0);
}

main {
  display: flex;
  padding: 1em;
  background-color: #3096a01c;
}

.section__title {
  font-family: "Rye", cursive;
  font-size: 3em;
  color: #16889b;
}
/* ITEM CARDS WITH HOVER*/
.card {
  margin: 0 1em 1em 0;
  padding: 1em;
  background-color: white;
  border-radius: 1em;
  top: 0;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.648);
  transition: top 0.2s ease-in-out, box-shadow 0.1s ease-in-out;
}

.card img {
  width: 100%;
  border-radius: 1em;
}

.card:hover {
  position: relative;
  top: -3px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.648);
}
